In [3]:
import pandas as pd 
import numpy as np 
from scipy import stats 
from scipy.stats import norm

In [4]:
data=pd.read_csv(r'LabTAT.csv')

In [6]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [8]:
p_value[1]

2.1156708949992414e-57

In [ ]:
    Now comparing with α = 0.05(at 5% significance level)
Anova ftest statistics: Analysis of varaince between more than 2 samples or columns Assume Null Hypothesis 
    Ho (No Varaince): All samples TAT population means are same

Thus Alternate Hypothesis
Ha (It has Variance): Atleast one sample TAT population mean is different
    
    Hence P>α Fails to reject null Ho